<!DOCTYPE html>

<html lang="en">
    <head>

        <%- include('../heads/MainHead');%>
    </head>

    <body>
        <%- include('../headers/MainNav'); %>
        <div id="Dash_Container">
            <div class="Dash_Nav"> <!--DEPARTMENTAL NAVIGATION-->
                <div>TOOL BOX</div><!--DASH NAV HEADER-->

                <div>TEAM</div><!--MANAGER VIEW/OVERVIEW-->
                <div>BIDS</div><!--LIST OF ALL BIDS/CREATE NEW BID-->
            </div>

            <div class="Dash_Views"> <!--DEPARTMENTAL VIEWS DEPENDING ON SELECTED NAV-->
                DASH VIEWS
                <div class="Dash_View"> <!--EMPLOYEE PROFILE TO HOLD TOOLS NEEDED-->

                </div>
                <div style = "display:none" class="Dash_View"> <!--TEAM HOLDS:- EMPLOYEE LIST- GENERAL MESSAGES-->
                    <table><!--LIST ALL OF THE TEAM MEMBERS FOR THE DEPARTMENT WITH:
                                   - NAME
                                   - TITLE
                                   - CONTACT INFORMATION
                                -->
                        <thead>
                            <th>NAME</th>
                            <th>TITLE</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Dale Flori</td>
                                <td>Manager</td>
                                <td>Email ></td>
                            </tr>
                            <tr>
                                <td>Grant Vogel</td>
                                <td>Consultant</td>
                                <td>Email ></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="Dash_View"> <!--ALL ACTIVE BIDS-->
                    <table class="Bid_Table">
                        <thead>
                            <th>NAME</th>
                            <th>ADDRESS</th>
                            <th>OPENED</th>
                        </thead>
                        <tbody> <!--LOOP THROUGH BID LIST -->
                            <% for(x=1;x<9;x++){%>
                                <tr>
                                    <% for(y=1;y<3;y++){%>
                                        <td><%=y%></td>
                                    <%}%>
                                </tr>
                                <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
<!--
            <form action="/350/create_bid" method="GET">
                <label>CREATE BID</label>
                <input placeholder="last name" name="lastName" />
                <input placeholder="street " name="street" />
                <button >OPEN</button>
            </form>-->
        </div>
    </body>
</html>
